<app-navbar></app-navbar>
<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{ "ABOUT.TITLE" | translate }}</h2>
                    <ul>
                        <li>
                            <a routerLink="" routerLinkActive="active">{{
                "ABOUT.HOME" | translate
              }}</a>
                        </li>
                        <li>
                            <i class="flaticon-tea-cup"></i>
                        </li>
                        <li>{{ "ABOUT.ABOUT" | translate }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title-shape">
        <img src="assets\img\page-title\down-shape.png" alt="image" />
    </div>
</div>

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    <span>{{ "ABOUT.WHO WE ARE" | translate }}</span>
                    <h3>{{ "ABOUT.WE ARE AMONGEST" | translate }}</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                    <p>
                        Eusmod tempor incididunt labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
                    </p>
                    <div class="signature">
                        <h4>Foulen Ben Foulen</h4>
                        <span>Manager At LeParisien</span>
                        <img src="assets\img\about\signature.png" alt="image" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="assets\img\about\image1.png" alt="image" />
                    <div class="shape">
                        <img src="assets\img\about\shape.png" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="150">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>{{ "ABOUT.CUPS OF COFFEE" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="500">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>{{ "ABOUT.CAKE PIECES" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="3">00</span>
                    </h3>
                    <p>{{ "ABOUT.TYPE OF TACOS" | translate }}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="15">00</span>
                    </h3>
                    <p>{{ "ABOUT.TYPE OF CREPES" | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>